<footer>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-4">
                <h3>Menu</h3>
                <ul class="list-unstyled">
                    <li><a class="hover-link" href="{{'index/'|relative_url}}">Home</a></li>
                    <li><a class="hover-link" href="{{'gray/'|relative_url}}">Gray</a></li>
                    <li><a class="hover-link" href="{{'contact/'|relative_url}}">Contact</a></li>
                    <li><a class="hover-link" href="{{'faq/'|relative_url}}">FAQ</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-4">
                <h3>Volg ons</h3>
                <ul class="list-unstyled">
                    <li><a class="hover-link" href="http://facebook.com/" target="_blank">Facebook</a></li>
                    <li><a class="hover-link" href="http://twitter.com/" target="_blank">Twitter</a></li>
                    <li><a class="hover-link" href="http://instagram.com/" target="_blank">Instagram</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-4">
                <h3>iWolf</h3>
                    <p>
                        Karel de Wolfstraat 4<br>
                        8200 Brugge<br>
                        België
                    </p>
                    <p>
                        info@iwolf.be<br>
                        0478 56 45 32
                    </p>
            </div>
        </div>
    </div>
</footer>