@import
  "bootstrap-variables",                  // See _bootstrap-variables.scss
  "../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss

@import url('https://fonts.googleapis.com/css?family=Lato');


/* colors */
$colorprimary: #00C66B;
$colorsecondary: #586C7E; 
$colorbodytext: #4C5457;
$colorsmalltext: #8C9AA8;





body {
  font-family: 'Lato' , sans-serif;
  color: $colorbodytext;
  font-size: 16px;
}



.navbar {
  background-color: $colorprimary;
}


.jumbotron {
  border-radius: 0px;
}

.breadcrumb {
  margin: 70px 0;
  border-radius: 0px;
  background-color: $colorprimary;
  justify-content: center;
}
.breadcrumb-item {
  color: white;
}


.breadcrumb-item {
  + .breadcrumb-item::before {
    color: white;
    content: '\276F';
  }
  &.active-hover {
    border-bottom: 2px solid white;
    color:white;
  }
}



h1 {
  color: $colorsecondary;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  margin: 0 0 20px 0;
  color: black;
}
h3 {
  color: $colorprimary;
}
.small-attention {
  font-size: 12px;
  margin-top: 15px; 
  font-style: italic;
  color: $colorsmalltext;
  margin-top: -20px;
}



/* footer */
footer {
  background-color: $colorsecondary;
  padding: 20px 0 20px 0;
  color: white;
  font-size: 16px;
}
footer li {
  margin-bottom: 5px;


/* hover links */  
}
.hover-link {
  display: inline-block;
  color: white;
  text-decoration: none;
}
.hover-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  color: white;
  background: white;
  transition: width .3s;
  text-decoration: none;
}
.hover-link:hover::after {
  color: white;
  width: 100%;
  //transition: width .3s;
}
footer a:hover {
  color: white;
  text-decoration: none;
}
footer a:visited {
  color: white;
  text-decoration: none;
}
.breadcrumb a:hover {
  color: white;
  text-decoration: none;
}
.breadcrumb a:visited {
  color: white;
  text-decoration: none;
}




/* text on image */
.top-left {
  position: absolute;
  top: 0px;
  left: 15px;
  padding: 5px;
  background-color: $colorprimary;
}
.container-imgtext {
  position: relative;
  text-align: center;
  color: white;
}



/* button */
.btn-primary {
  background-color: $colorprimary;
  color: white;
  border-color: $colorprimary;
  border-radius: 0px;
  border-width: 2px;
  margin: 20px 0 30px;
  transition: all 0.5s;
  cursor: pointer;
}
.btn-primary span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn-primary span:after {
  content: '\276F';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn-primary:hover {
  color: white;
  background-color: $colorprimary;
  border-color: $colorprimary;
}
.btn-primary:hover span {
  padding-right: 25px;
}
.btn-primary:hover span:after {
  opacity: 1;
  right: 0;
}



/* form */
.form-control {
  border-radius: 0px;
  border-width: 2px;
  border-color: $colorprimary;
}


/*
===========
Mobile css
===========
*/

@media screen and (max-width: 576px) {
  h1 {
      font-size: 26px;
      margin: 35px 0 30px 0;
  }
  .no-margin {
    margin-top: 0px;
  }
  h2 {
      font-size: 20px;
      margin-top: 25px;
  }
  h3 {
    font-size: 18px;
  }
  .prijs {
    font-size: 25px;
  }
}




/*
===========
Desktop tablet css
===========
*/

@media screen and (min-width: 576px) {
  h1 {
      font-size: 40px;
      margin: 45px 0 40px 0;
      
  }
  h2 {
      font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  .prijs {
    font-size: 40px;
  }
}